<% provide(:title, I18n.t('sessions.change_password',:default => "Set Password")) %>
<div id="midd-wrapper">  
  <div class="front-page">
  <!--Login Page Stats Here-->
    <div class="login-wrap">
      <div class="login-inner">
        <div class="relative">
          <div class="login-img"><img src="/assets/login-img.png" alt=""></div>
        </div>
        <div class="login-hd">
            <%= I18n.t('sessions.change_password',:default => "Set Password") %>
        </div>                
        <%= form_for(@user, url: update_new_password_path) do |f| %>          
          <div class="login-cont">     
              <% if @user && @user.errors.any? %>
                <div class="alert alert-error" style="width: auto; margin-bottom: 10px;">
                  <% @user.errors.full_messages.each do |msg| %>
                    - <%= msg %> <br />
                  <% end %>                  
                </div>
              <% end %>                            
              <div class="row">
                <label><%= f.label :password, I18n.t("session.password") %></label>
                <%= f.password_field :password, :class => "pass-input" %>
              </div>
              <div class="row">
                <label><%= f.label :password_confirmation, I18n.t("users.password_confirm") %></label>
                <%= f.password_field :password_confirmation, :class => "pass-input" %>
              </div>
              <div class="row btn-div">
                <label>&nbsp;</label>                  
                  <%= f.submit I18n.t('sessions.change_password',:default => "Set Password"), :class=>"btn-login" %>
                  <%#= link_to I18n.t("session.sign_in"), signin_path, :class => "forgot-pass" %>
              </div> 
            </div>
            <div class="login-bott">&nbsp;</div> 
        <% end %>
        </div> 
      </div>
    </div>
      <!--Login Page Ends Here-->
  </div>
</div>

