<tr class="<%=cycle('odd','even') %>">
  <% grid.columns(*options[:columns]).each do |column| %>
    <td>
      <% if column.name.to_s == "created_at" || column.name.to_s == "updated_at" %>
        <%= datagrid_format_value(grid, column, asset).to_date %>
      <% elsif column.name.to_s == "content"%>               
        <%= truncate_html(asset.content, length: 50, omission: '...') %>
        <%#= strip_tags(asset.content).truncate(100) %>
      <% else %>
        <%= datagrid_format_value(grid, column, asset).to_s.html_safe %>
      <% end %>
    </td>
  <% end %>
  <td>
    <%= link_to(icon('view-icon-new'), params[:controller]=="topics" ? topic_path(asset) : asset ) if can? :read, asset.class %>
    <%= link_to(icon('edit-icon'), {:action=>:edit, :id=>asset.id} ) if can? :update, asset.class %>
    <%= link_to(icon('delete-icon'), {:action=>:destroy, :id=>asset.id}, :data => {:method=>:delete}) if can? :destroy, asset.class %>    
  </td>
</tr>
