<script>
  function makeBatchAction(act)
  {
    temp = []
    $('input:checked').each(function() {
       temp.push(this.value);
    });
    if(temp.length == 0){alert(<%= raw I18n.t('crud.confirm',default: "Please select atleast one topic", entity: I18n.t('top_menu.topic') ).to_json %>); return false;}        
    window.location.href = "/topics/batch_actions?batch_action="+act+"&top_ids="+temp ;        
    temp = [];
  }
  $(function() {
    $( document ).tooltip();
  });
</script>

<% if params[:topic_report] &&  params[:topic_report][:descending].to_s == "false"%>
  <% up_arrow_img = image_tag("/assets/arrow-down-h.png") %>
  <% down_arrow_img = image_tag("/assets/arrow-down.png") %>
<% elsif params[:topic_report] &&  params[:topic_report][:descending].to_s == "true"%>
  <% up_arrow_img = image_tag("/assets/arrow-up.png") %>
  <% down_arrow_img = image_tag("/assets/arrow-up-h.png") %>
<% else %>
  <% up_arrow_img = image_tag("/assets/arrow-up.png") %>
  <% down_arrow_img = image_tag("/assets/arrow-down.png") %>
<% end %>

<% up_img = image_tag("/assets/arrow-up.png") %>
<% down_img = image_tag("/assets/arrow-down.png") %>
<div class="inner-page">
  <div class="inner-head">
    <h1>
      <a href="<%=new_topic_path%>" class="heading-button"><%=image_tag("/assets/add-icon.1.png")%> <%= I18n.t("topics.add_topic")%></a>
      <%= link_to "#{I18n.t('topics.moderation',:default=>'Under moderation')} (#{@under_moderation})" ,moderation_path, :class => "btn btn-warning", :id => "btn-moderation" if can? :verify, Topic %>
    </h1>
    <div class="head-right">
      <%= form_for @topic_report, :url=>topics_path, :html => {:method => :get} do |f| -%>
         <% @topic_report.filters.each do |filter| -%>            
            <%= f.datagrid_filter filter, :placeholder=> I18n.t("topics.#{filter.name}") , :class=>'search-in'%>            
          <%end -%>   
          <%= f.submit I18n.t("searchs.search"), :class=>"search-button" %>
        <% end %>      
    </div>
    <br />
    <div class="" style="margin-top: 20px;" >
      <% if can? :verify, Topic %>
      <%= button_tag I18n.t('crud.publish',default: "Publish"), :onclick=>"return makeBatchAction('publish')", :class => "btn btn-success" %>
      <%= button_tag I18n.t('crud.unpublish',default: "Unpublish"), :onclick=>"return makeBatchAction('unpublish')", :class => "btn btn-success" %>
      <% end %>
      <% if can? :destroy, Topic %>
      <%= button_tag I18n.t('crud.delete',default: "Delete"), :onclick=>"return makeBatchAction('delet')", :class => "btn btn-success" %>
      <% end %>
    </div>

  </div>
  <div class="listing-part">
    <% topics = @topic_report.assets.paginate(:page => params[:page], :per_page => 20) %>    
    <table class="data-table" width="100%" cellspacing="0" cellpadding="0" border="0" id="topic_index">
      <thead>
        <tr>  
          <th width="3%" class="even">
            <input type="checkbox" name="check_topics" id="check_all">
          </th>
          <th width="17%"><%= link_to I18n.t("topics.title"), "/topics?topic_report[content]=&topic_report[descending]=#{@flag}&topic_report[order]=title&topic_report[title]="%>  
            <a href="/topics?topic_report[content]=&topic_report[descending]=false&topic_report[order]=title&topic_report[title]="><%= params[:topic_report] && params[:topic_report][:order]=="title" ? up_arrow_img : up_img %></a>  
            <a href="/topics?topic_report[content]=&topic_report[descending]=true&topic_report[order]=title&topic_report[title]="><%= params[:topic_report] && params[:topic_report][:order]=="title" ? down_arrow_img : down_img %></a>
          </th>
          <th width="30%" class="even"><%= link_to I18n.t("topics.content"), "/topics?topic_report[content]=&topic_report[descending]=#{@flag}&topic_report[order]=content&topic_report[title]="%>
            <a href="/topics?topic_report[content]=&topic_report[descending]=false&topic_report[order]=content&topic_report[title]="><%= params[:topic_report] && params[:topic_report][:order]=="content" ? up_arrow_img : up_img %></a>
            <a href="/topics?topic_report[content]=&topic_report[descending]=true&topic_report[order]=content&topic_report[title]="><%= params[:topic_report] && params[:topic_report][:order]=="content" ? down_arrow_img : down_img %></a>
          </th>
          <th width="14%"><%= link_to I18n.t("topics.created_at"),"/topics?topic_report[content]=&topic_report[descending]=#{@flag}&topic_report[order]=created_at&topic_report[title]="%>
            <a href="/topics?topic_report[content]=&topic_report[descending]=false&topic_report[order]=created_at&topic_report[title]="><%= params[:topic_report] && params[:topic_report][:order]=="created_at" ? up_arrow_img : up_img %></a>
            <a href="/topics?topic_report[content]=&topic_report[descending]=true&topic_report[order]=created_at&topic_report[title]="><%= params[:topic_report] && params[:topic_report][:order]=="created_at" ? down_arrow_img : down_img %></a>
          </th>             
          <th width="14%" class="even"><%= link_to I18n.t("topics.updated_at"), "/topics?topic_report[content]=&topic_report[descending]=#{@flag}&topic_report[order]=updated_at&topic_report[title]="%>
            <a href="/topics?topic_report[content]=&topic_report[descending]=false&topic_report[order]=updated_at&topic_report[title]="><%= params[:topic_report] && params[:topic_report][:order]=="updated_at" ? up_arrow_img : up_img %></a>
            <a href="/topics?topic_report[content]=&topic_report[descending]=true&topic_report[order]=updated_at&topic_report[title]="><%= params[:topic_report] && params[:topic_report][:order]=="updated_at" ? down_arrow_img : down_img %></a>
          </th>

          <th width="14%" class="odd"><%= link_to I18n.t("topics.index.published", :default => "Published?"), "/topics?topic_report[content]=&topic_report[descending]=#{@flag}&topic_report[order]=published&topic_report[title]="%>
            <a href="/topics?topic_report[content]=&topic_report[descending]=false&topic_report[order]=published&topic_report[title]="><%= params[:topic_report] && params[:topic_report][:order]=="published" ? up_arrow_img : up_img %></a>
            <a href="/topics?topic_report[content]=&topic_report[descending]=true&topic_report[order]=published&topic_report[title]="><%= params[:topic_report] && params[:topic_report][:order]=="published" ? down_arrow_img : down_img %></a>
          </th>

          <th width="8%" class="even" valign="middle"></th>
        </tr>
      </thead>
      <tbody>    
        <%= datagrid_table(@topic_report, topics) %>
      </tbody> 
    </table>
  </div>
  <div class="paging">
    <div class="pagination">
      <a href="/topics?page=<%=(@topic_report.assets.length/5)%>"><%= I18n.t("pagination.last")%></a>
    </div>
    <%= will_paginate(topics) %>
    <div class="pagination">
      <a href="/topics?page=1"><%= I18n.t("pagination.first")%></a>
    </div>
  </div>
</div>
     
