<script>
  $(document).ready(function() {
    $('#with_in').change(function(){
      window.location.href = "/search_stats?st=1&period=" + this.value ;
    })
  })
</script>
<script type="text/javascript">
  $(function() {

    $('#search_from').datetimepicker({
      controlType: 'select',
      dateFormat: 'yy-mm-dd',
      timeFormat: 'hh:mm'
    });

  });

</script>
<div class="inner-page">
  <div class="inner-head">
    <h1><%= I18n.t('search_stats.search_stats', :default => 'Search Statistics') %></h1>
    <div class="head-right">
      <span id='date_range'>
        <% fld_val = params[:st]=='1' && !params[:period].nil? ? '' : params[:st]=='2' && !params[:period].nil? ? params[:period]+' '+params[:time] : ''%>
        <%= text_field_tag 'search_from', fld_val, :class=>'span3' %>
        <%= link_to I18n.t("topics.search_stats.apply", :default => 'apply'), "javascript:void(0)",:onclick=>"window.location.href ='/search_stats?st=2&period='+$('#search_from').val().replace(' ','&time=')" %>
      </span>
      <%=select_tag 'with_in', options_for_select([['Last 24 hrs','last_24'],['This week','this_week'],['Last week','last_week'],['This month','this_month'],['Last month','last_month']],:selected=>params[:period]), :prompt => 'Select time period'%>
    </div>
  </div>
  <div class="listing-part">
    <table class="data-table" width="100%" cellspacing="0" cellpadding="0" border="0" >
      <thead>
        <tr>
          <th width="40%"> <%= I18n.t('search_stats.search_string', default: 'Search string') %>
          </th>
          <th width="40%" class="even"> <%= I18n.t('search_stats.last_searched', default: 'Last searched') %>
          </th>
          <th width="20%">
            <%= I18n.t('search_stats.view_count', default: 'View count') %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% if @search_stat.length > 0 %>
          <% @search_stat.each do |s|%>
            <tr class="<%=cycle('odd','even')%>">
              <td> <%= s.search_string%> </td>
              <td> <%= s.updated_at.strftime("%Y-%m-%d %H:%M:%S")%> </td>
              <td> <%= s.view_count%> </td>
            </tr>
          <% end %>
        <% else %>
           <tr>
              <td colspan='3'><%= I18n.t("topics.search_stats.no_search_results_found", :default => " No search results found ") %></td>
            </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
