<div class="footer-new">
 <div class="foot-wrap">
 <div class="foot-top">
 <div class="foot-logo"><a href="#" title=""><img src="/assets/footer-logo.jpg" alt=""></a></div>
 <div class="foot-logo-rght-txt"><a target="_blank" href="http://www.tonsberg.folkebibl.no/" title=""><%= I18n.t("shared.footer.tønsberg_and_notteroy_bibliotek", :default => "Tønsberg & Nøtterøy bibliotek") %></a></div>
<div class="foot-logo-rght-txt foot-mid-txt">
<%= I18n.t("shared.footer.about_histvest", :default => "Historiske Vestfold er en tjeneste levert av 
Vestfoldbibliotekene. Portalen gir en geografisk innfallsvinkel til lokalhistorie i Vestfoldt.") %></div>
<div class="foot-social-icons"><a href="#" title=""><a href="#" title=""><img src="/assets/facebook-icon.jpg" alt=""></a> <span><%= I18n.t("shared.footer.follow_us_on", :default => "Follow us on") %></span></div>
 </div>
 <div class="foot-bottom">
 <div class="foot-btm-lft"><%= I18n.t('footer.copyright', :default => 'Kopirett © Tønsberg & Nøtterøy Bibliotek.') %></div>
 <div class="foot-btm-rght"><%= I18n.t('footer.design_and_development', :default => 'Design & Utvikling:') %> <%= link_to I18n.t("shared.footer.global_it_development_as", :default => "Global IT Development AS"), "http://www.globalit.no", :target => "_blank" %></div>
 </div>
 </div>
 </div>
