<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />    
    <%= favicon_link_tag 'favicon.ico' %>
    <%#= stylesheet_link_tag 'gmaps4rails' %>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body data-no-turbolink="true">
    <div id="main-wrapper">
      <!-- Top part starts here -->
      <%= render 'shared/header' %>

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <!-- Top part ends here -->


      <!-- Middle part starts here -->
      <div id="midd-wrapper">
      	<%= yield %>
      </div>
      <div id="bottom-wrapper">
        <div class="footer">
        </div>
      </div>
      <!-- Middle part ends here -->

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
